 .navbar-nav > li .dropdown-menu {
                margin: 0;
            }

            .navbar-nav > li:hover .dropdown-menu {
                display: block;
                background: #fff;
                text-align: center;
            }

            .navbar-nav > li:hover .dropdown-menu li {
                padding-top: 0.65rem;
                padding-bottom: 0.65rem;
            }

            .navbar-nav > li:hover .dropdown-menu a {
                color: #444;
                font-size: 0.95rem;
            }

            .navbar-nav > li:hover .dropdown-menu li:hover {
                background: #3d4557;
                color: #fff;
            }

            .navbar-nav > li:hover .dropdown-menu li:hover a {
                color: #fff;
            }

            .dropdown-menu {
                min-width: 100% !important;
            }

            .demo1 {
                position: relative;
            }

            .demo1:before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0px;
                width: 0;
                height: 2px;
                background: #db6c4a;
                transition: all .3s;
                font-weight: bold;
            }

            .curlink:before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0px;
                width: 0;
                height: 2px;
                background: #db6c4a;
                transition: all .3s;
                font-weight: bold;
            }

            .curlink:before {
                width: 100%;
                left: 0;
                right: 0;
            }

            .nav-link:hover, .curlink {
                font-weight: bold;
                color: #fff !important;
            }

            .demo1:hover:before {
                width: 100%;
                left: 0;
                right: 0;
            }

            .login-down {
                position: absolute;
                right: 0;
                top: 70%;
                visibility: hidden;
                opacity: 0;
                transition: all .2s
            }

            .navbar-nav .username:hover .login-down {
                top: 100%;
                visibility: visible;
                opacity: 1;
                transition: all .2s;
            }

            .login-down .login-div {
                background: #fff;
                box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.06);
                border-radius: 3px;
                overflow: hidden;
                width: 328px
            }

            .login-down .login-div .info {
                background: #fff6f1;
                position: relative;
                padding: 30px 90px
            }

            .login-down .login-div .info::after, .login-down .login-div .info::before {
                content: '';
                display: block;
                position: absolute
            }

            .login-down .login-div .info::before {
                left: 0;
                top: 0;
                opacity: .3;
                background-image: linear-gradient(44deg, #FEDBC7 48%, #FFF6F1 91%);
                width: 60px;
                height: 76px;
                border-radius: 0 0 100% 0
            }

            .login-down .login-div .info::after {
                right: 0;
                bottom: 0;
                opacity: .4;
                background-image: linear-gradient(43deg, #FEDBC7 1%, #FFF6F1 100%);
                width: 100px;
                height: 57px;
                border-radius: 100% 0 0 0
            }

            .login-down .login-div .info h2 {
                font-size: 16px;
                color: #333;
                margin-bottom: 6px;
                line-height: 1.5;
                height: 1.5em;
                overflow: hidden
            }

            .login-down .login-div .info h4 {
                font-size: 12px;
                color: #888;
                font-weight: normal;
                line-height: 1.5;
                height: 1.5em;
                overflow: hidden
            }

            .login-down .login-div .info .info-thumb {
                width: 50px;
                position: absolute;
                left: 20px;
                top: 30px;
                border: 4px solid #fff;
                box-shadow: 0 0 30px 0 #eee;
                border-radius: 100%
            }

            .login-down .login-div .info .info-thumb .thumb {
                padding-top: 100%;
                border-radius: 100%;
                transition: none
            }

            .haveNoti {
                position: absolute;
                right: 0;
                background: red;
                width:8px;
                height:8px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                display: block;
                top: 14px;
                right: 10px;
            }

            .login-down .login-div .main {
                padding: 20px 30px 35px
            }

            .login-down .login-div .main .main-menu {
                display: box;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 -20px
            }

            .login-down .login-div .main .main-menu .item {
                width: 33.3333%;
                text-align: center;
                font-size: 14px;
                margin-bottom: 20px;
                padding: 0 5px
            }

            .login-down .login-div .main .main-menu .item i {
                display: block;
                font-size: 20px;
                margin: 0 auto
            }

            .login-down .login-div .main .main-menu .item i::before {
                margin: 0
            }

            .login-down .login-div .main .main-menu .item-content {
                position: relative;
            }

            .login-down .login-div .main .main-menu .item-content .noti {
                position: absolute;
                background: red;
                color: #fff;
                min-width: 15px;
                height: 15px;
                padding:0 4px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                top: 0;
                text-align: center;
                font-size: 12px;
                line-height: 15px;
            }

            .login-down .login-div .main .main-menu .item a {
                display: block;
                padding: 10px 0;
                color: #666;
                border-radius: 3px;
                transition: none
            }

            .login-down .login-div .main .main-menu .item a:hover {
                color: #fff !important;
                background: #ff5c00
            }

            .login-down .login-div .main .main-menu .item a:hover .iconfont {
                color: #fff !important;
            }

            .login-down .login-div .main .main-menu-2 {
                border-top: 1px solid #f3f3f3;
                display: box;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                font-size: 14px
            }

            .login-down .login-div .main .main-menu-2 a {
                color: #666
            }

            .login-down .login-div .main .main-menu-2 a:hover {
                color: #ff5c00
            }

            .login-down .login-div .thumb {
                display: block;
                width: 100%;
                height: 0;
                padding-top: 66.7%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: transparent;
                position: relative;
                overflow: hidden;
                transition: all .2s;
            }

            @media (max-width: 992px) {
                #nav > ul:first-child > li:not(:first-child) {
                    padding-left: 0 !important;
                }
            }